:root {
  --background: #0c0e12;
  --dark-background: #0c0d11;
  --foreground: #e6e6e6;

  --primary: #00cc00;
  --primary-faded: #00cc001a;
  --error: #dc2828;
  --error-faded: #dc28281a;

  --grey: #23272f;
  --light-grey: #797f8f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2px;
}
input::placeholder {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  color: var(--light-grey);
  font-size: 1rem;
  font-weight: 400;
}

/* Override browser autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--grey) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  box-shadow: 0 0 0 1000px var(--grey) inset !important;
  border: 1px solid transparent !important;
  outline: none !important;
  -webkit-appearance: none !important;
  background-color: var(--grey) !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--grey) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  box-shadow: 0 0 0 1000px var(--grey) inset !important;
  border: 1px solid color-mix(in srgb, var(--primary) 75%, transparent) !important;
  outline: 1px solid color-mix(in srgb, var(--primary) 75%, transparent) !important;
  outline-offset: 2px !important;
  -webkit-appearance: none !important;
  background-color: var(--grey) !important;
}

button {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: color-mix(in srgb, var(--primary) 15%, transparent);
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
}
h3 {
  font-size: 0.875rem;
  font-weight: 400;
}
h4 {
  font-size: 0.75rem;
  font-weight: 400;
}
h5 {
  font-size: 0.75rem;
  font-weight: 600;
}
