.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border-radius: 0.75rem;
}

.searchbarInput {
  background-color: var(--grey);
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  padding-left: 2rem;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  outline-offset: 0px;
  transition: all 0.1s ease-in-out;
}
.searchbarInput:focus, .searchbarInput:not(:placeholder-shown) {
  border-color: color-mix(in srgb, var(--primary) 75%, transparent);
  outline-color: color-mix(in srgb, var(--primary) 75%, transparent);
  outline-offset: 2px;
}

.searchIcon {
  position: absolute;
  left: 0.5rem;
}

.searchbarButton {
  position: absolute;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin: none;
  cursor: pointer;
  padding: 0.25rem 0.35rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
@media not all and (hover: none) {
  .searchbarButton:hover {
    background-color: color-mix(in srgb, var(--light-grey) 25%, transparent);
  }
}

.cancelIcon {
  margin-top: 2px;
}

@media screen and (max-width: 1000px) {
  .searchbar {
    max-width: 100%;
  }
}
